*
{
	margin: 0px;
}
.back
{
	background-color: aqua;
}
.menu
{
    float:left;
	padding: 15px;
	background-color: bisque;
	width: 150px;
	height: 80px;
	left: 0;
	top: 0;
	margin-right: 0px;
	
}
#content
{
	margin: 0px 0;
	overflow: hidden;
	background-color: darkgray;
}
footer
{
	background-color: limegreen;
	height: 50px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

